* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roobert, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* Top section*/

.nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #000;
}

.logo {
  color: #fff;
  cursor: pointer;
}

.navigations a {
  font-size: 14px;
  font-weight: 800;
  color: rgb(150, 0, 0);
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
}
.top-section {
  background-color: #000;
}
/* Body */

.heading {
  text-align: center;
  margin: 40px 40px;
  padding-top: 20px;
}

h1 {
  color: #fff;
  font-size: 1.65rem;
  padding-bottom: 20px;
}
h3 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 2rem;
}

.search {
  padding: 0px 20px 100px 20px;
}

.searchbar {
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border-style: none;
}
.searchbar p {
  background-color: inherit;
  font-weight: 600;
  font-size: 1.0625rem;
}

.searchicon {
  background-color: #fff;
  padding: 0 1rem 0 0;
}

hr.line {
  border: 1px solid #222222;
  width: 90%;
  margin: auto;
}

/* Events Section */

.events-section {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.events-section h3 {
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.events {
  display: flex;
  margin: 20px 0;
}

.events h4 {
  padding-bottom: 10px;
}

.events h5 {
  color: #b9b9b9;
  font-size: 0.9rem;
  font-weight: 200;
}

.events-pic {
  width: 4rem;
  margin: 10px 20px 10px 0;
  border-radius: 8px;
}

/* Browse Event */

.browse-event {
  padding: 20px;
  background-color: #fff;
}

.white-bck{
  background-color: #fff;
}

.browse-event h3 {
  color: #000;
}

.browse-btn {
  margin: 20px 0;
  padding: 10px 20px; 
  border-radius: 20px;
  cursor: pointer;
}

.browse-btn {
  margin-right: 20px;
}

/* Categories */
.categories {
  padding: 20px;
}

.categories-events ul{
  display: flex;
  padding: 0%;
  overflow: auto hidden;
}

li {
  list-style: none;
}

.block {
  color: #fff;
  background-color: #000;
  width: 250px;
  height: 100px;
  margin: 10px;
  padding: 40px 70px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.btm-left {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  border-radius: 10px;
}

.categories h3 {
  color: #000;
}


.highlights .white-bck{
  padding: 0 20px;
  color: #000;
}
.highlight-section {
  color:#000;
  overflow: auto hidden;
}

.highlight-list {
  background-color: #fff;
  display: flex;
  padding: 10px;
  font-weight: 600;
  color: #fff;
}

.highlight-event {
  background-color: #fff;
  width: 300px;
  height: 200px;
  background-color: rgb(65, 115, 190);
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.find {
  position: absolute;
  text-align: left;
  padding: 100px 10px 0 10px

}

.find-ticket-banner {
  background-color: rgb(74, 128, 208);
  width: 100%;
  padding: 20px 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  text-align: left;
  font-size: 0.7rem;
}
