* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roobert, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* Top section*/

.nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #000;
}

.logo {
  color: #fff;
  cursor: pointer;
}

.navigations a {
  font-size: 14px;
  font-weight: 800;
  color: rgb(150, 0, 0);
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
}
.top-section {
  background-color: #000;
}
/* Body */

.heading {
  text-align: center;
  margin: 0 40px 40px;
  padding-top: 20px;
}

h1 {
  color: #fff;
  font-size: 1.65rem;
  padding-bottom: 20px;
}
h3 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 2rem;
}

.search {
  padding: 0px 20px 100px 20px;
}

.searchbar {
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border-style: none;
}
.searchbar p {
  background-color: inherit;
  font-weight: 600;
  font-size: 1.0625rem;
}

.searchicon {
  background-color: #fff;
  padding: 0 1rem 0 0;
}

.search-close {
  display: flex;
  align-items: center;
}

.close {
  padding-left: 20px;
  font-size: 0.8rem;
  color: #909090;
  cursor: pointer;
}

.search-list {
  background-color: #fff;
  padding: 20px;
  line-height: 3rem;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.search-list .searchbar {
  border: solid 1px;
  border-color: #e8e8e8;
  border-radius: 30px;
  width: 70%;
  padding: 10px;
  box-shadow: 5px 5px 10px 2px rgba(219, 219, 219, 0.8);
}

.search-categories-list h3 {
  color: #000;
  font-weight: 500;
  font-size: 1rem;
}

hr.line {
  border: 0.1px solid #c9c9c9;
  margin: auto;
}

/* Events Section */

.events-section {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.events-section h3 {
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.events {
  display: flex;
  margin: 20px 0;
}

.events h4 {
  padding-bottom: 10px;
}

.events h5 {
  color: #b9b9b9;
  font-size: 0.9rem;
  font-weight: 200;
}

.events-pic {
  width: 4rem;
  margin: 10px 20px 10px 0;
  border-radius: 8px;
}

/* Browse Event */

.browse-event {
  padding: 20px;
  background-color: #fff;
}

.white-bck {
  background-color: #fff;
}

.browse-event h3 {
  color: #000;
}

.browse-btn {
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.browse-btn {
  margin-right: 20px;
}

/* Categories */
.categories {
  padding: 20px;
}

.categories-events ul {
  display: flex;
  padding: 0%;
  overflow: auto hidden;
}

li {
  list-style: none;
}

.block {
  color: #fff;
  background-color: #000;
  width: 250px;
  height: 100px;
  margin: 10px;
  padding: 40px 70px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.btm-left {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  border-radius: 10px;
}

.categories h3 {
  color: #000;
}

.highlights .white-bck {
  padding: 0 20px;
  color: #000;
}

.highlight-section {
  color: #000;
  overflow: auto hidden;
}

.categories-events ul::-webkit-scrollbar {
  display: none;
}

.highlight-section::-webkit-scrollbar {
  display: none;
}

.highlight-list {
  background-color: #fff;
  display: flex;
  padding: 10px;
  font-weight: 600;
  color: #fff;
}

.highlight-event {
  background-color: #fff;
  width: 300px;
  height: 200px;
  background-color: rgb(65, 115, 190);
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.find {
  position: absolute;
  text-align: left;
  padding: 100px 10px 0 10px;
}

.find-ticket-banner {
  background-color: rgb(74, 128, 208);
  width: 100%;
  padding: 20px 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  text-align: left;
  font-size: 0.7rem;
}

#heart {
  position: absolute;
  margin: 20px 10px;
  right: 0;
}

.dark-heart {
  color: #343434;
}

.clicked-heart {
  color: rgb(208, 74, 134);
}

/* Footer */
.footer {
  display: flex;
  padding: 0 0 20px;
}

.footer ul {
  padding: 0 20px;
  line-height: 2.3rem;
}

.footer li {
  color: #6f6f6f;
}

.footer-links h3 {
  color: #000;
  padding: 20px 20px 10px;
  font-weight: 500;
  font-size: 1.2rem;
}

@media only screen and (min-width: 500px) {
  .heading {
    padding: 60px 10px 0;
  }

  .searchbar {
    padding: 20px;
  }

  .searchbar p {
    font-weight: 500;
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .events-section h3 {
    padding-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .events-pic {
    width: 6rem;
  }

  .events {
    margin: 30px 10px;
    align-items: center;
  }

  .white-bck h3 {
    color: #000000;
    font-weight: 400;
    padding-bottom: 20px;
  }

  .block {
    height: 150px;
    margin: 10px;
    padding: 40px 110px;
  }

  .highlight-event {
    width: 420px;
    height: 300px;
    margin-bottom: 40px;
  }

  .find {
    padding: 200px 0px 0px 30px;
    font-size: 1.5rem;
  }
  .find-ticket-banner {
    padding: 20px 30px;
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
  }

  .searchbar {
    width: 50%;
    margin: auto;
  }
  h1 {
    font-size: 3rem;
  }

  .events-section {
    display: flex;
    overflow: auto hidden;
  }

  .event-info {
    padding: 40px 20px;
    background-color: #343434;
  }
  .event-info h4 {
    font-size: 1.5rem;
  }

  .event-info h5 {
    font-size: 1.2rem;
  }

  .events {
    width: 500px;
    height: 500px;
    display: block;
    padding-right: 30px;
  }

  .events-pic {
    width: 500px;
    margin: 0;
    border-radius: 10px;
    padding-right: 30px;
  }

  .block {
    width: 350px;
    height: 200px;
  }

  .highlight-list {
    width: 100%;
  }

  .highlight-event {
    height: 400px;
    width: 460px;
    font-size: 1.8rem;
  }

  .find {
    padding-top: 250px;
    width: 50%;
    font-size: 2rem;
  }

  .find-ticket-banner {
    font-size: 1rem;
  }
}
